*{
    overflow: hidden;
}
.bg-video{
    width:100vw;
    margin-left: -0.5rem;
    margin-top: -1rem;
    position: absolute;
}
.bg-name{
    z-index: 1;
    margin-top: 5rem;
    margin-right: 60rem;
    width: 30vw;
   
}
.name{
    display: flex;
    justify-content: center;
}

.bg-forest{
    z-index: 1;
    position: absolute;
    width: 120%;
    height: 60%;
    margin-left: -3rem;
    margin-top: 14rem;
    animation: translateUp 5s ease forwards;
}

.bg-forest-path{
    z-index: 1;
    position: absolute;
    width: 120%;
    height: 60%;
    margin-left: -9rem;
    margin-top: 20rem;
    animation: translateUp 6s ease forwards;
}
.bg-in-m{
    z-index: 1;
    position: absolute;
    width: 110%;
    height: 100%;
    margin-left: 2rem;
    margin-bottom: 55rem;
    margin-top: -12rem;
    animation: translateUp 3s ease forwards;
}
.bg-m-m{
    z-index: 1;
    position: absolute;
    width: 110%;
    height: 100%;
    margin-left: -9rem;
    margin-bottom: 40rem;
    margin-top: rem;
    animation: translateUp 2s ease forwards;
}
.bg-out-m{
    z-index: 1;
    position: absolute;
    width: 110%;
    height: 100%;
    margin-left: -4rem;
    margin-bottom: 40rem;
    margin-top: -1rem;
    animation: translateUp 1s ease forwards;
}


@keyframes translateUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

.button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous',cursive;
}

a{
    width: 200px;
    padding: 20px 30px;
    left: 43%;
    margin-top: 12rem;
    /* border: 1px solid olive; */
    z-index: 1;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 28px;
    box-shadow: -2px 2px 1px rgb(118,118,118);
}

a:hover .wave{
    top: -100px;
}

a span{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 15px;
    letter-spacing: 8px;
}

a .wave{
    width: 208px;
    height: 280px;
    background-color: #45d7ff;
    box-shadow: inset 0 0 50px #12ccff;
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
}

a .wave::before, a .wave::after{
    width: 200%;
    height: 180%;
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%,-75%);
}

a .wave::before{
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 1);
    animation: wave 5s linear infinite;
}

a .wave::after{
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: wave 10s linear infinite;
}

@keyframes wave {
    0% {
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-75%) rotate(360deg)
    }
    
}